.idea
cmake-build-debug
Resource/output/*
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Makefile
main
fem
UnitTest/CMakeFiles
UnitTest/CMakeCache.txt
UnitTest/Makefile
UnitTest/Tester
UnitTest/*.cmake
UnitTest/build
UnitTest/Test
log
App
build